<div class="row">
  <div class="col-xs-12">
    <div class="follow-up">
      {{#if @root.meta.features.myAccount.active}}
      <label for="confirmation-savedetails-input">
        <input id="confirmation-savedetails-input" type="checkbox" name="saveAccountDetails"
        value="remember"
        class="remember-me"{{#if content.checkoutForm.remember.selected}}checked {{/if}}>
        <span>{{i18n "checkout:rememberMe"}}</span>
      </label>
      {{/if}}
      <label for="confirmation-newsletter-input">
        <input id="confirmation-newsletter-input" type="checkbox" name="subscribeNewsletter" value="newsletter"
        class="add-to-newsletter"{{#if content.checkoutForm.newsletter.selected}}checked {{/if}}>
        <span>{{i18n "checkout:addToNewsletter"}}
          <span class="sunrise-newsletter"><a
            href="{{content.checkoutForm.newsletter.url}}">{{content.checkoutForm.newsletter.name}}</a></span>
          </span>
        </label>
        <label for="agree-to-input">
          <span>
            <span class="sunrise-newsletter">{{{i18n "checkout:agreeToTermsHtml" url=content.checkoutForm.termsConditions.url}}}</span>
          </span>
        </label>
      </div>
    </div>
  </div>
  