<div class="panel panel-default faq-accordion-panel">
  <div class="panel-heading" role="tab" id="accordion-{{@index}}-{{key}}">
    <h4 class="panel-title faq-accordion-title">
      <a id="pdp-product-details-toggle" class="collapsed pdp-accord-toggle" data-toggle="collapse" data-parent="#accordion-product-info" href="#accordion-collapse-{{@index}}-{{key}}" aria-expanded="false" aria-controls="accordion-collapse-{{@index}}-{{key}}">{{title}}
        <img class="accordion-plus hidden-xs" src="{{@root.meta.assetsPath}}img/plus79.png" alt="accordion content">
      </a>
    </h4>
  </div>
  <div id="accordion-collapse-{{@index}}-{{key}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-{{@index}}-{{key}}">
    <div class="panel-body panel-body-pdp">
      {{text}}
    </div>
  </div>
</div>
