<form id="form-add-to-wishlist{{index}}" method="post" name="add-to-wishlist" action="{{@root.meta._links.addToWishlist.href}}">
    <input type="hidden" name="csrfToken" value="{{@root.meta.csrfToken}}"/>
    <input type="hidden" name="productId" value="{{product.productId}}">
    <input type="hidden" name="variantId" value="{{product.variantId}}">

    <button type="submit" class="btn pdp-product-heart">
    <span class="sr-only">{{i18n "catalog:wishlist.add"}}</span>
  </button>
</form>
