<fieldset class="rating">
  <input type="radio" id="rating{{index}}-star5" name="rating" value="5" {{#if product.rating5}}checked{{/if}}/>
  <label for="rating{{index}}-star5" title="{{i18n "catalog:ratings.description5"}}">
    {{i18n "catalog:ratings.text5"}}
  </label>
  <input type="radio" id="rating{{index}}-star4" name="rating" value="4" {{#if product.rating4}}checked{{/if}} />
  <label for="rating{{index}}-star4" title="{{i18n "catalog:ratings.description4"}}">
    {{i18n "catalog:ratings.text4"}}
  </label>
  <input type="radio" id="rating{{index}}-star3" name="rating" value="3" {{#if product.rating3}}checked{{/if}} />
  <label for="rating{{index}}-star3" title="{{i18n "catalog:ratings.description3"}}">
    {{i18n "catalog:ratings.text3"}}
  </label>
  <input type="radio" id="rating{{index}}-star2" name="rating" value="2" {{#if product.rating2}}checked{{/if}} />
  <label for="rating{{index}}-star2" title="{{i18n "catalog:ratings.description2"}}">
    {{i18n "catalog:ratings.text2"}}
  </label>
  <input type="radio" id="rating{{index}}-star1" name="rating" value="1" {{#if product.rating1}}checked{{/if}} />
  <label for="rating{{index}}-star1" title="{{i18n "catalog:ratings.description1"}}">
    {{i18n "catalog:ratings.text1"}}
  </label>
</fieldset>
<span class="star-rating-review">
  <a href="{{@root.meta._links.addReview.href}}">{{i18n "catalog:reviews.write"}}</a>
</span>