<a href="#" id="pdp-size-guide{{index}}" data-toggle="modal" data-target="#size-guide">
  <span class="size-guide">
    <img class="size-guide-thumb" src="{{@root.meta.assetsPath}}img/ruler-1.png" alt="{{i18n "catalog:sizeGuide.title"}}">
    {{i18n "catalog:sizeGuide.title"}}
  </span>
</a>

<div class="modal fade" id="size-guide{{index}}" tabindex="-1" role="dialog" aria-labelledby="sizeGuide">
  <div class="modal-dialog" role="document">
    <div class="modal-content size-guide-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="{{i18n "content.general.closeModal"}}">
          <span aria-hidden="true">
            <img src="{{@root.meta.assetsPath}}img/close.png" alt="{{i18n "content.general.closeModal"}}" />
          </span>

        </button>
      </div>
      <div class="modal-body">
        <div class="clothing-wrapper modal-content-wrapper">
          <h4>{{i18n "catalog:sizeGuide.clothing"}}</h4>
          <table class="size-guide-table">
            <tbody>
              <tr class="tr-title">
                <th>&nbsp;</th>
                <th>XXS</th>
                <th>XS</th>
                <th>S</th>
                <th>M</th>
                <th>L</th>
                <th>XL</th>
                <th>XXL</th>
                <th>XXXL</th>
              </tr>
              <tr class="tr-size">
                <td>Italy</td>
                <td>36</td>
                <td>38</td>
                <td>40</td>
                <td>42</td>
                <td>44</td>
                <td>46</td>
                <td>48</td>
                <td>50</td>
              </tr>
              <tr class="tr-size">
                <td>Germany</td>
                <td>32</td>
                <td>34</td>
                <td>36</td>
                <td>38</td>
                <td>40</td>
                <td>42</td>
                <td>44</td>
                <td>46</td>
              </tr>
              <tr class="tr-size">
                <td>France</td>
                <td>34</td>
                <td>36</td>
                <td>38</td>
                <td>40</td>
                <td>42</td>
                <td>44</td>
                <td>46</td>
                <td>48</td>
              </tr>
              <tr class="tr-size">
                <td>UK</td>
                <td>4</td>
                <td>6</td>
                <td>8</td>
                <td>10</td>
                <td>12</td>
                <td>14</td>
                <td>16</td>
                <td>18</td>
              </tr>
              <tr class="tr-size">
                <td>USA</td>
                <td>0</td>
                <td>2</td>
                <td>4</td>
                <td>6</td>
                <td>8</td>
                <td>10</td>
                <td>12</td>
                <td>14</td>
              </tr>
              <tr class="tr-size">
                <td>Moncler</td>
                <td>-</td>
                <td>0</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
              </tr>
            </tbody>
          </table>
        </div>

       <div class="shoes-wrapper modal-content-wrapper">
          <h4>{{i18n "catalog:sizeGuide.shoes"}}</h4>
          <table class="size-guide-table">
            <tbody>
              <tr class="tr-title">
                <th>Men</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
              </tr>
              <tr class="tr-size">
                <td>Europe</td>
                <td>35</td>
                <td>35,5</td>
                <td>36</td>
                <td>36,5</td>
                <td>37</td>
                <td>37,5</td>
                <td>38</td>
                <td>38,5</td>
              </tr>
              <tr class="tr-size">
                <td>UK</td>
                <td>2</td>
                <td>2,5</td>
                <td>3</td>
                <td>3,5</td>
                <td>4</td>
                <td>4,5</td>
                <td>5</td>
                <td>5,5</td>
              </tr>
              <tr class="tr-size">
                <td>USA</td>
                <td>5</td>
                <td>5,5</td>
                <td>6</td>
                <td>6,5</td>
                <td>7</td>
                <td>7,5</td>
                <td>8</td>
                <td>8,5</td>
              </tr>
              <tr class="tr-size">
                <td>Japan</td>
                <td>22</td>
                <td>22,5</td>
                <td>23</td>
                <td>23,5</td>
                <td>24</td>
                <td>24,5</td>
                <td>25</td>
                <td>25,5</td>
              </tr>
              <tr class="tr-title">
                <th>Women</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
              </tr>
              <tr class="tr-size">
                <td>Europe</td>
                <td>39</td>
                <td>39,5</td>
                <td>40</td>
                <td>40,5</td>
                <td>41</td>
                <td>41,5</td>
              </tr>
              <tr class="tr-size">
                <td>UK</td>
                <td>6</td>
                <td>6,5</td>
                <td>7</td>
                <td>7,5</td>
                <td>8</td>
                <td>8,5</td>
              </tr>
              <tr class="tr-size">
                <td>USA</td>
                <td>9</td>
                <td>9,5</td>
                <td>10</td>
                <td>10,5</td>
                <td>11</td>
                <td>11,5</td>
              </tr>
              <tr class="tr-size">
                <td>Japan</td>
                <td>26</td>
                <td>-</td>
                <td>26</td>
                <td>-</td>
                <td>26,5</td>
                <td>-</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="belt-wrapper modal-content-wrapper">
          <h4>{{i18n "catalog:sizeGuide.belt"}}</h4>
          <table class="size-guide-table belt-table">
            <tbody>
              <tr class="tr-title">
                <th>Size</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
              </tr>
              <tr class="tr-size">
                <td>cm</td>
                <td>70</td>
                <td>75</td>
                <td>80</td>
                <td>85</td>
                <td>90</td>
                <td>95</td>
                <td>100</td>
                <td>105</td>
                <td>110</td>
                <td>115</td>
                <td>120</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
