<div class="bzoom_wrap hidden-xs">
  <a id="animated-modal-action" class="animated-modal-action" href="#animatedModal">
    <img src="{{@root.meta.assetsPath}}img/zoom-60px.png" width="25" height="25" />
  </a>
  <ul class="bzoom">
    {{#each gallery.list}}
      <li class="gallery-image" data-modal-content="{{bigImage}}">
        <img class="bzoom_thumb_image" src="{{thumbImage}}">
        <img class="bzoom_big_image" src="{{bigImage}}">
      </li>
    {{/each}}
  </ul>
  <div id="animatedModal" class="animated-modal">
    <div class="modal-header">
      <a href="#" class="close-animatedModal clickable">
        <img src="{{@root.meta.assetsPath}}img/delete-60px.png" width="40" height="40" />
      </a>
    </div>
    <div class="modal-content">

    </div>
  </div>
</div>
<div class="gallery-mobile visible-xs">
  {{#each gallery.list}}
    <img src="{{bigImage}}" alt="Product Image" />
  {{/each}}
</div>
