<form action="{{@root.meta._links.changeLineItem.href}}" method="post">
    <input type="hidden" name="csrfToken" value="{{@root.meta.csrfToken}}"/>
    <input type="hidden" name="lineItemId" value="{{lineItemId}}">
    <div class="sm-pull-right visible-xs">
        <button type="submit" id="cart-quantity-submit-btn-{{@index}}" class="quantity-submit-btn"><span class="glyphicon glyphicon-refresh"></span></button>
    </div>
    <div class="sm-pull-right quantity-spinner">
        <span id="cart-quantity-decrement-{{@index}}" class="input-number-decrement">–</span>
        <input id="cart-quantity-value-{{@index}}" name="quantity" class="input-number" type="text" value="{{quantity}}" min="1" max="10">
        <span id="cart-quantity-increment-{{@index}}" class="input-number-increment">+</span>
    </div>
    <div class="sm-pull-right hidden-xs">
        <button type="submit" id="cart-quantity-submit-btn-{{@index}}" class="quantity-submit-btn"><span class="glyphicon glyphicon-refresh"></span></button>
    </div>
</form>