<div class="order">
  <div class="order-summary-items">
    {{#each content.cart.lineItems.list}}
      <div class="order-summary-item">
        <div class="row">
          <div class="col-xs-4">
            <div class="order-summary-img">
              <img class="img-responsive" src="{{variant.image}}" alt="{{variant.name}}">
            </div>
          </div>
          <div class="col-xs-8">
            <div class="summary-item-info">
              <span class="checkout-product-name">{{variant.name}}</span>
            </div>
            <div class="sku-code">
              <span>{{variant.sku}}</span>
            </div>
            <div class="checkout-attributes">
                <div class="checkout-attribute-field">
                {{#each attributes}}
                    <span class="checkout-attribute">{{name}}</span>{{#unless @last}}<br>{{/unless}}
                {{/each}}
                </div>
                <div class="checkout-attribute-field">
                {{#each attributes}}
                    <span>{{value}}</span>{{#unless @last}}<br>{{/unless}}
                {{/each}}
                </div>
            </div>
          </div>
        </div>
        <div class="order-item-price">
          <div class="row">
            <div class="col-xs-4">
              <div class="text-right">
                <span class="text-uppercase pricing-titles">{{i18n "main:common.quantity"}}</span><br>
                <span>{{quantity}} x</span>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="text-right order-item-value">
                <span class="text-uppercase pricing-titles">{{i18n "main:common.price"}}</span><br>
                {{#if variant.priceOld}}<span class="checkout-discounted-price">{{variant.priceOld}}</span><br>{{/if}}
                <span>{{variant.price}}</span>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="text-right order-item-value">
                <span class="text-uppercase pricing-titles">{{i18n "checkout:total"}}</span><br>
                <span>{{totalPrice}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  <div class="checkout-total-price">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-7 col-xs-7">
        <div class="text-right checkout-promo-code">
          <span class="text-uppercase">{{i18n "checkout:promoCodeApplied"}}</span>
        </div>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5">
        <div class="text-right checkout-promo-code">
          {{#each content.cart.discountCodes}}
          <span class="text-uppercase">{{name}}</span><br>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-7 col-xs-7">
        <div class="text-right checkout-price-text">
          <span>{{i18n "checkout:subtotal"}}</span><br>
          <span>{{i18n "checkout:shipping"}}</span>
        </div>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5">
        <div class="text-right checkout-price-digits">
          <span>{{content.cart.subtotalPrice}}</span><br>
          <span>{{content.cart.shippingMethod.price}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-7">
      <div class="text-right order-tax-total-text">
        <span>{{i18n "main:common.salesTax"}}</span><br>
        <span class="total-order-value">{{i18n "checkout:total"}}</span>
      </div>
    </div>
    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5">
      <div class="text-right order-tax-total-digits">
        <span>{{content.cart.salesTax}}</span><br>
        <span class="total-order-value">{{content.cart.totalPrice}}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div>
        <span class="text-uppercase pull-right edit-quantity-order">
            <a href="{{@root.meta._links.cart.href}}">{{i18n "checkout:editMyCart"}}</a>
        </span>
      </div>
    </div>
  </div>
</div>
