<div class="{{mainClass}}">
  {{> checkout/order-summary/header}}

  {{#each cart.lineItems.list}}
      <div class="row single-cart-item">
          <div class="col-sm-1 col-xs-4 product-img-col">
              <img class="img-responsive cart-item-img" src="{{variant.image}}" alt="{{variant.name}}">
          </div>
          <div class="col-sm-3 col-xs-8 product-info-text">
              <p class="cart-item-name">
                <a href="{{variant.url}}">{{variant.name}}</a>
              </p>
              <p class="grey-p">{{variant.sku}}</p>
              <p class="cart-attributes">
              {{#each attributes}}
                  {{name}}
                  <span class="black-p" data-model="cartItem.{{key}}">{{value}}</span>
                  {{#unless @last}}<br>{{/unless}}
              {{/each}}
              </p>
            {{#unless ../ordered}}
                <p class="cart-item-availability grey-p">
                    <span class="glyphicon glyphicon-ok-sign"></span>{{i18n "catalog:availability.available"}}
                </p>
            {{/unless}}
          </div>




      {{#if ../editable}}
          <div class="col-sm-2 col-xs-12 cart-edit-delete">
              <div class="edit-section-options">
                  <div class="edit-delete-section">
                      {{> checkout/remove-line-item-form this}}
                  </div>
              </div>
          </div>
          <div class="col-sm-2 col-xs-12 clearfix">
              {{> checkout/change-line-item-quantity-form this}}
          </div>
      {{else}}
          <div class="col-sm-2 col-sm-offset-2 col-xs-12 text-center quantity-counter">
              <span class="visible-xs">{{i18n "main:common.quantity"}}:</span>
              <span class="quantity-number">{{quantity}}</span>
          </div>
      {{/if}}






          <div class="col-sm-2 {{#if editable}}col-xs-12 sm-pull-right{{else}}col-xs-7{{/if}}">
              <div class="text-right cart-item-price">
                  <span class="visible-xs xs-price-title">{{i18n "main:common.price"}}</span>
                {{#if variant.priceOld}}
                    <span class="discounted-price">{{variant.priceOld}}</span>
                {{/if}}
                  <span>{{variant.price}}</span>
              </div>
          </div>
          <div class="col-sm-2 {{#if editable}}col-xs-12 sm-pull-right{{else}}col-xs-5{{/if}}">
              <div class="text-right cart-item-price">
                  <span class="visible-xs xs-price-title">{{i18n "checkout:total"}}</span>
                  <span>{{totalPrice}}</span>
              </div>
          </div>
      </div>
  {{/each}}
  {{> checkout/order-summary/discount-code-input}}
  {{> checkout/order-summary/discount-summary}}
  {{#if checkoutConfirmation}}
    {{> checkout/order-summary/confirmation-checkboxes}}
  {{/if}}
    <div class="row">
        <div class="col-sm-12">
            <div class="total-price-calc">
                {{> checkout/order-summary/totals}}
            </div>
        </div>
    </div>
</div>
