<form action="{{@root.meta._links.deleteLineItem.href}}" method="post">
    <input type="hidden" name="csrfToken" value="{{@root.meta.csrfToken}}"/>
    <input type="hidden" name="lineItemId" value="{{lineItemId}}">
    <button type="submit" id="cart-delete-button-{{@index}}">
    <span>
        <img class="cart-action-icon" src="{{@root.meta.assetsPath}}img/delete-1.png" alt="delete">
        {{i18n "main:form.delete"}}
    </span>
    </button>
</form>