<picture>
  <source srcset="{{cms "banners[4].backgroundImage" width="1200"}}" media="(min-width: 1200px)">
  <source srcset="{{cms "banners[4].backgroundImage" width="992"}}" media="(min-width: 768px)">
  <img src="{{cms "banners[4].backgroundImage" width="768"}}" class="img-responsive">
</picture>

<div class="banner-text">
  <h4 class="banner-title">
      <img src="{{cms "banners[4].headerImage"}}"/><br/><br/>
      {{{cms "banners[4].title"}}}
  </h4>
</div>