{{#each stores}}
    <li class="item address">
        <div class="item-link">
            <span class="distance">
              <i class="icon icon-marker"></i>
              <span class="gm-computed-distance" data-coord-lat="{{this.storeInfo.location.lat}}" data-coord-lng="{{this.storeInfo.location.lng}}">
                {{i18n "main:storeLocation.calculatingTxt"}}
              </span> km
            </span>

            {{#if this.prices.discounted}}
              <span class="price-discounted">
                {{this.prices.value}}
              </span>

              <b class="price">
                {{this.prices.discounted.value}}
              </b>
            {{else}}
              <b class="price">
                {{this.prices.value}}
              </b>
            {{/if}}

            <strong class="title">
              {{this.storeInfo.name}}
            </strong>

            <div class="info">
                <div class="info-title">
                  {{i18n "main:storeLocation.address"}}:
                </div>
                <div class="info-content">
                  {{this.storeInfo.address.streetName}} {{this.storeInfo.address.streetNumber}}<br/>
                  {{#if this.storeInfo.address.postalCode}}{{this.storeInfo.address.postalCode}},{{/if}}
                  {{this.storeInfo.address.city}}
                  {{#if this.storeInfo.address.country}}({{this.storeInfo.address.country}}){{/if}}
                </div>

                <div class="info-title">
                  {{i18n "main:storeLocation.openingTimes"}}:
                </div>
                <div class="info-content">
                  {{{this.storeInfo.openingTimes}}}
                </div>
            </div>

            <div class="box-footer">
              {{> catalog/product-availability availability=this.availability}}

                <div class="action">
                    <form id="form-reserve-in-store{{@index}}" name="reserve-in-store" method="post" action="{{@root.meta._links.reserveInStore.href}}">
                        <input type="hidden" name="csrfToken" value="{{@root.meta.csrfToken}}"/>
                        <input type="hidden" name="storeId" value="{{this.storeInfo.id}}">
                        <button type="submit" class="btn btn-standard">{{i18n "main:storeLocation.reserve"}}</button>
                    </form>
                </div>
            </div>
        </div>
    </li>
{{/each}}
