<div class="checkout-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <a href="{{@root.meta._links.home.href}}" class="brand-logo">
          <img class="checkout-header-logo img-responsive" src="{{@root.meta.assetsPath}}img/logo-white-text.svg" alt="SUNRISE Logo">
        </a>
      </div>
      <div class="col-sm-8 col-xs-12">
        <div class="checkout-header-callus">
          <span class="">{{i18n "checkout:needHelpCustomerService"}}</span>
          <span class="checkout-header-number"><img class="phone-icon" src="{{@root.meta.assetsPath}}img/phone.png" alt="phone icon" />{{header.customerServiceNumber}}</span>
        </div>
      </div>
    </div>
  </div>
</div>