{{#if navMenu.new}}
<li class="dropdown menu-large">
  <a href="{{@root.meta._links.new.href}}" class="dropdown-toggle" data-toggle="dropdown">
    {{i18n "main:header.new"}}
    <img class="mobile-plus-content visible-xs" src="{{@root.meta.assetsPath}}img/plus79.png" alt="{{i18n "main:more"}}">
  </a>
  {{> common/nav-menu-category category=new}}
</li>
{{/if}}

{{#each navMenu.categories}}
  <li class="dropdown menu-large">
    <a href="{{url}}" class="dropdown-toggle {{#if sale}}sale icon-ribbon{{/if}}" data-toggle="dropdown">
      {{text}}
      <img class="mobile-plus-content visible-xs" src="{{@root.meta.assetsPath}}img/plus79.png" alt="{{i18n "main:more"}}">
    </a>
    {{> common/nav-menu-category category=this}}
  </li>
{{/each}}

{{#if navMenu.brands}}
<li class="dropdown menu-large">
  <a href="{{@root.meta._links.brands.href}}" class="dropdown-toggle" data-toggle="dropdown">
    {{i18n "main:header.brands"}}
    <img class="mobile-plus-content visible-xs" src="{{@root.meta.assetsPath}}img/plus79.png" alt="{{i18n "main:more"}}">
  </a>
  {{> common/nav-menu-category category=brands}}
</li>
{{/if}}

{{#if navMenu.sale}}
  <li class="dropdown menu-large">
    <a href="{{@root.meta._links.sale.href}}" class="dropdown-toggle sale icon-ribbon" data-toggle="dropdown">
      {{i18n "main:header.sale"}}
      <img class="mobile-plus-content visible-xs" src="{{@root.meta.assetsPath}}img/plus79.png" alt="{{i18n "main:more"}}">
    </a>
    {{> common/nav-menu-category category=sale}}
  </li>
{{/if}}