<div class="wishlist">
    <button id="wishlist-open-btn" class="hidden-xs wishlist-btn">
        <div class="wishlist-number">{{wishlist.quantity}}</div>
    </button>
    <div class="wishlist-items hidden">
        <p class="wishlist-title">
            {{i18n "catalog:wishlist.title"}} <span>({{wishlist.quantity}})</span>
        </p>
        <span class="recently-added-title">{{i18n "catalog:wishlist.recentlyAdded"}}</span>
        <div class="clearfix">
            {{#each wishlist.list}}
                <a href="{{url}}">
                    <img class="pull-left img-responsive wishlist-img" src="{{imageUrl}}" alt="{{name}}">
                </a>
            {{/each}}
        </div>
        <a href="{{@root.meta._links.myWishlist.href}}" id="wishlist-view-btn" class="btn view-wishlist-btn">
            {{i18n "catalog:wishlist.view"}}
        </a>
    </div>
</div>
