<!DOCTYPE html>
<html lang="en">
  <head>
    {{> common/htmlhead}}
  </head>

  <body>
  {{> common/checkout-header}}

  <div class="checkout-thankyou">
    <div class="container">
      {{> common/messages}}
      <div class="thankyou-page-title">{{i18n "checkout:thankYouPage.title"}}</div>
      <div class="thankyou-page-content">
        <div class="row">
          <div class="col-md-6">
            <span class="thankyou-confirmation">{{i18n "checkout:thankYouPage.emailSentToStart"}} <span class="thankyou-email">{{content.order.customerEmail}}</span><br>{{i18n "checkout:thankYouPage.emailSentToEnd"}}</span>
          </div>
          <div class="col-md-6">
            {{> checkout/continue-shopping-link}}
          </div>
        </div>
        <div class="thankyou-order-details">
          <div class="order-details-title">{{i18n "checkout:thankYouPage.yourOrderDetails"}}</div>
          <div class="order-number-date">
            <span class="number-date-title">{{i18n "checkout:orderNumber"}}<br>{{i18n "checkout:orderDate"}}</span>
            <span class="black-p">{{content.order.orderNumber}}<br>{{content.order.orderDate}}</span>
          </div>
        </div>
        <div class="thankyou-order-summary">
          <div class="row">
            <div class="col-sm-4 checkout-first-col">
              {{> checkout/address-confirmation address=content.order.shippingAddress titleKey="checkout:shippingAddress" editable=false}}
            </div>
            <div class="col-sm-4 checkout-second-col">
              {{> checkout/address-confirmation address=content.order.billingAddress titleKey="checkout:billingAddress" editable=false}}
            </div>
            <div class="col-sm-4 checkout-third-col">
              {{> checkout/shipping-method-confirmation shippingMethod=content.order.shippingMethod editable=false}}
              {{> checkout/payment-confirmation paymentDetails=content.order.paymentDetails editable=false}}
            </div>
          </div>
          {{> checkout/order-summary cart=content.order mainClass="confirmation-products-title" editable=false ordered=true}}
        </div>
        <div>
          {{> checkout/continue-shopping-link}}
        </div>
      </div>
    </div>
  </div>

  {{> common/checkout-footer}}
  {{> common/htmlscripts}}
  </body>
</html>
