<!DOCTYPE html>
<html lang="en">

<head>
  {{> common/htmlhead}}
</head>

<body>
  <div class="darkbg hidden"></div>
  {{> common/header}}
    <div class="container">
      {{> common/messages}}

    <div class="my-account-login-page-title">
      <span class="icon-user">{{i18n "catalog:contactUs.title"}}</span>
    </div>

    <div class="contact-form-content-wrapper">
      <div class="contact-form-title-row">
        <span class="contact-form-title">{{i18n "main:contactForm.pleaseFill"}}</span>
        <span class="hidden-xs contact-form-required">{{i18n "main:form.required"}}*</span>
      </div>
      <div class="contact-form-description">
        <div>{{i18n "main:contactForm.customerSupport"}}</div>
        <div>{{i18n "main:contactForm.callUsOn"}}</div>
        <div class="contact-form-description-respond">{{i18n "main:contactForm.responseTime"}}</div>
      </div>
      <div>
        {{> form/contact-form-form form=content.contactForm settings=content.contactFormSettings}}
      </div>
    </div>

  </div>
  {{> common/footer}}
  {{> common/htmlscripts}}
</body>
</html>
