<!DOCTYPE html>
<html lang="en">

<head>
  {{> common/htmlhead}}
</head>

<body>
  <div class="darkbg hidden"></div>
  {{> common/header}}
  <div class="my-orders">
    <div class="container">
      {{> common/messages}}
      <div class="my-account-title">
        <span class="my-account-title-text icon-user">{{i18n "my-account:myAccount.title"}}</span>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="my-orders-wrapper">
            <div class="row">
              <div class="col-sm-3">
                {{> myaccount/my-account-sidebar myOrdersTab=true}}
              </div>
              <div id="my-account-desktop-content" class="col-sm-9">
                <div class="my-orders-content">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="my-orders-title hidden-xs">
                        {{i18n "my-account:myOrders.title"}}
                      </div>
                    </div>
                  </div>
                  <div class="my-orders-table-wrapper">
                    <div class="row">
                      <div class="col-sm-2 col-xs-4">
                        <div class="my-orders-table-titles">
                          {{i18n "my-account:myOrders.orderNumber"}}
                        </div>
                      </div>
                      <div class="col-sm-2 hidden-xs">
                        <div class="my-orders-table-titles">
                          {{i18n "my-account:myOrders.creationDate"}}
                        </div>
                      </div>
                      <div class="col-sm-2 col-xs-4">
                        <div class="my-orders-table-titles">
                          {{i18n "my-account:myOrders.totalPrice"}}
                        </div>
                      </div>
                      <div class="col-sm-2 hidden-xs">
                        <div class="my-orders-table-titles">
                          {{i18n "my-account:myOrders.paymentStatus"}}
                        </div>
                      </div>
                      <div class="col-sm-2 hidden-xs">
                        <div class="my-orders-table-titles">
                          {{i18n "my-account:myOrders.shippingStatus"}}
                        </div>
                      </div>
                      <div class="col-sm-2 col-xs-4">
                        <div class="my-orders-table-titles">
                          &nbsp;
                        </div>
                      </div>
                    </div>
                  </div>
                  {{#each content.orders}}
                    <div class="my-orders-table-order">
                      <div class="row">
                        <div class="col-sm-2 col-xs-4">
                          <span>{{orderNumber}}</span>
                        </div>
                        <div class="col-sm-2 hidden-xs">
                          <span>{{orderDate}}</span>
                        </div>
                        <div class="col-sm-2 col-xs-4">
                          <span>{{total}}</span>
                        </div>
                        <div class="col-sm-2 hidden-xs">
                          <span>{{paymentStatus}}</span>
                        </div>
                        <div class="col-sm-2 hidden-xs">
                          <span>{{shipping}}</span>
                        </div>
                        <div class="col-sm-2 col-xs-4 text-right">
                        <form id="form-view-my-order{{@index}}" name="view-my-order" method="GET" action="{{showOrderUrl}}">
                            <button type="submit" class="my-orders-view-order-btn">{{i18n "my-account:myOrders.view"}}</button>
                        </form>
                        </div>
                      </div>
                    </div>
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- {{> common/wishlist}} --}}
  {{> common/footer}}
  {{> common/htmlscripts}}
</body>

</html>