<!DOCTYPE html>
<html lang="en">

<head>
    {{> common/htmlhead}}
</head>

<body>
<div class="darkbg hidden"></div>
{{> common/header}}
<div class="my-orders">
    <div class="container">
      {{> common/messages}}
        <div class="my-account-title">
            <span class="my-account-title-text icon-user">{{i18n "my-account:myWishlist.title"}}</span>
            &nbsp;&nbsp;&nbsp;
            <span class="items-total-txt">{{i18n "my-account:myWishlist.itemsTotal" count=content.itemsInTotal}}</span>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="my-orders-wrapper">
                    <div class="row">
                        <div id="my-account-desktop-content" class="col-sm-12">
                            <div class="my-orders-order-content">
                                <div class="my-account-wishlist-items-wrapper">
                                    <div class="row">
                                        {{#each content.products.list}}
                                            <div class="col-sm-6 col-md-3">
                                                {{> catalog/product-thumbnail thumbnail=this index=@index wishlist=true}}
                                                <form id="form-remove-from-wishlist{{index}}" name="remove-from-wishlist"
                                                      action="{{@root.meta._links.removeFromWishlist.href}}" method="post">
                                                    <input type="hidden" name="csrfToken"
                                                           value="{{@root.meta.csrfToken}}"/>
                                                    <input type="hidden" name="lineItemId" value="{{product.lineItemId}}">

                                                    <div class="my-account-wishlist-remove-btn">
                                                        <button type="submit">{{i18n
                                                                "catalog:removeBtn.title"}}</button>
                                                    </div>
                                                </form>
                                            </div>
                                        {{/each}}
                                    </div>
                                </div>
                                <div class="my-account-wishlist-pagination-bottom">
                                </div>
                                <div class="my-account-wishlist-clear-btn">
                                    <form id="form-clear-wishlist" name="clear-wishlist"
                                          action="{{@root.meta._links.clearWishlist.href}}" method="post">
                                        <input type="hidden" name="csrfToken"
                                               value="{{@root.meta.csrfToken}}"/>

                                        <button type="submit">{{i18n "my-account:myWishlist.clear"}}</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> common/footer}}
{{> common/htmlscripts}}
</body>

</html>
