<!DOCTYPE html>
<html lang="en">

<head>
  {{> common/htmlhead}}
</head>

<body>
  <div class="darkbg hidden"></div>
  {{> common/header}}
  <div class="address-book">
    <div class="container">
      {{> common/messages}}
      <div class="my-account-title">
        <span class="my-account-title-text icon-user">{{i18n "my-account:myAccount.title"}}</span>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="address-book-wrapper">
            <div class="row">
              <div class="col-sm-3">
                {{> myaccount/my-account-sidebar myAddressBookTab=true}}
              </div>
              <div id="my-account-desktop-content" class="col-sm-9">
                <div class="address-book-content">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="address-book-title hidden-xs">
                        {{i18n "my-account:addressBook.title"}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="box-addresses-title">
                        {{i18n "my-account:addressBook.defaultAddresses.title"}}
                      </div>
                      {{#if content.defaultShippingAddress}}
                      <div class="address-book-dark-box">
                        <div class="address-book-dark-box-title">{{i18n "my-account:addressBook.shippingAddress.title"}}</div>
                        {{> myaccount/my-address-book-address addressInfo=content.defaultShippingAddress}}
                      </div>
                      {{/if}}
                      {{#if content.defaultBillingAddress}}
                      <div class="address-book-dark-box">
                        <div class="address-book-dark-box-title">{{i18n "my-account:addressBook.billingAddress.title"}}</div>
                        {{> myaccount/my-address-book-address addressInfo=content.defaultBillingAddress}}
                      </div>
                      {{/if}}
                    </div>
                    <div class="col-sm-6">
                      <div class="box-addresses-title">
                        {{i18n "my-account:addressBook.additionalAddress.title"}}
                      </div>
                      {{#each content.addresses}}
                      <div class="address-book-white-box">
                        {{> myaccount/my-address-book-address addressInfo=this}}
                      </div>
                      {{/each}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="add-new-address-btn">
                        <a href="{{@root.meta._links.myAddressBookAddAddress.href}}">{{i18n "my-account:addressBook.buttons.addNewAddress"}}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- {{> common/wishlist}} --}}
  {{> common/footer}}
  {{> common/htmlscripts}}
</body>

</html>
