<!DOCTYPE html>
<html lang="en">

<head>
    {{> common/htmlhead}}
</head>

<body>
<div class="darkbg hidden"></div>
{{> common/header}}
<div class="my-account">
    <div class="container">
      {{> common/messages}}
        <div class="my-account-title">
            <span class="my-account-title-text icon-user">{{i18n "my-account:myAccount.title"}}</span>
        </div>
        <div class="row">
            <div class="my-account-content">
                <div class="row">
                    <div id="my-account-desktop-content" class="col-sm-12">
                        <div class="change-password">
                            <div class="change-password-wrapper">
                                <div class="personal-details-title">
                                    <span>{{i18n "my-account:forgotPassword.title"}}</span>
                                    <span class="pull-right required-text">{{i18n "main:form.required"}}*</span>
                                </div>
                                <div>
                                    <span>{{i18n "my-account:forgotPassword.description"}}</span>
                                </div>
                                <form id="form-forgot-password" action="{{@root.meta._links.recoveryEmail.href}}"
                                      method="post">
                                    <input type="hidden" name="csrfToken" value="{{@root.meta.csrfToken}}"/>
                                    <div class="row">
                                        {{> form/global-messages messages=content.passwordRecoveryForm.messages}}
                                        {{> form/global-errors errors=content.passwordRecoveryForm.errors}}
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-sections">
                                                <span class="form-labels">{{i18n "main:form.email"}}*</span><br>
                                                <input class="form-inputs" type="email" name="email" value="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <hr class="light-grey-hr">
                                            <div class="add-new-address-btn push-right">
                                                <button id="password-reset-submit-btn">{{i18n
                                                        "main:form.submit"}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> common/footer}}
{{> common/htmlscripts}}
</body>

</html>
