<!DOCTYPE html>
<html lang="en">

<head>
  {{> common/htmlhead}}
</head>

<body>
  <div class="darkbg hidden"></div>
  {{> common/header}}
  <div class="my-account">
    <div class="container">
      {{> common/messages}}
      <div class="my-account-title">
        <span class="my-account-title-text icon-user">{{i18n "my-account:myAccount.title"}}</span>
      </div>
      <div class="row">
        <div class="col-sm-9">
          <div class="my-account-content">
            <div class="row">
              <div class="col-sm-3">
                {{> myaccount/my-account-sidebar changeMyPasswordTab=true}}
              </div>
              <div id="my-account-desktop-content" class="col-sm-9">
                <div class="change-password">
                  <div class="change-password-wrapper">
                    <div class="personal-details-title">
                      <span>{{i18n "my-account:changePassword.changePasswordTitle"}}</span>
                      <span class="pull-right required-text">{{i18n "main:form.required"}}*</span>
                    </div>
                    <form id="form-change-password" action="{{@root.meta._links.changePassword.href}}" method="POST">
                      <input type="hidden" name="csrfToken" value="{{@root.meta.csrfToken}}"/>
                      <div class="row">
                        {{> form/global-messages messages=content.changePasswordForm.messages}}
                        {{> form/global-errors errors=content.changePasswordForm.errors}}
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-sections">
                            <span class="form-labels">{{i18n "my-account:changePassword.oldPasswordLabelTxt"}}*</span><br>
                            <input name="oldPassword" class="form-inputs" type="password">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-sections">
                            <span class="form-labels">{{i18n "my-account:changePassword.newPasswordLabelTxt"}}*</span><br>
                            <input name="newPassword" class="form-inputs" type="password">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-sections">
                            <span class="form-labels">{{i18n "my-account:changePassword.confirmPasswordLabelTxt"}}*</span><br>
                            <input name="repeatPassword" class="form-inputs" type="password">
                          </div>
                        </div>
                      </div>
                      <hr class="light-grey-hr">
                      <div class="personal-details-edit-btn">
                        <span>
                          <button type="submit" class="update-btn password-change-btn">
                            {{i18n "my-account:changePassword.changeBtn"}}
                          </button>
                        </span>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="my-account-banners">
            <div class="banner-one-wrapper hidden-xs">
              <div class="my-account-banner">
                <div class="banner-title">
                  {{i18n "my-account:personalDetails.bannerOne.title"}}
                </div>
                <hr class="banner-hr">
                <div class="banner-subtitle">
                  {{i18n "my-account:personalDetails.bannerOne.subtitle"}}
                </div>
                <div class="banner-btn-wrapper">
                  <a class="banner-btn" href="{{content.bannerOne.url}}">{{i18n "my-account:personalDetails.shopAllBtn"}}</a>
                </div>
              </div>
            </div>
            <div class="banner-two-wrapper">
              <div class="my-account-banner image-banner">
                <div class="banner-title">
                  {{i18n "my-account:personalDetails.bannerTwo.title"}}
                </div>
                <hr class="banner-hr">
                <div class="banner-subtitle">
                  {{i18n "my-account:personalDetails.bannerTwo.subtitle"}}
                </div>
                <div class="banner-btn-wrapper">
                  <a class="banner-btn" href="{{content.bannerTwo.url}}">{{i18n "my-account:personalDetails.shopAllBtn"}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- {{> common/wishlist}} --}}
  {{> common/footer}}
  {{> common/htmlscripts}}
</body>

</html>
