<figure class="figure-banner">
  <img class="img-responsive hidden-sm hidden-md hidden-lg" src="{{banner.imageMobile}}" alt="{{banner.title}}">
  <img class="img-responsive hidden-xs" src="{{banner.imageDesktop}}" alt="{{banner.title}}">
  <figcaption class="figcaption-banner-text">
    <h2>{{banner.title}}</h2>
    <h3>{{{banner.description}}}</h3>
  </figcaption>
</figure>