{{#each facets.list}}
  {{#if facet.available}}
    <hr class="hr">
    <div id="filter-{{facet.key}}" class="row facet-block {{facet.key}}-box">
      <div class="col-xs-8 text-left">
        {{facet.label}}
      </div>
      <div class="col-xs-4">
        <a class="text-right clear-btn facet-clear-btn" href="#" data-target="{{facet.key}}">{{i18n "catalog:filters.clear"}}</a>
      </div>
    </div>

    {{#if hierarchicalSelectFacet}}
      {{> catalog/pop/facet-hierarchical-select}}
    {{/if}}

    {{#if selectFacet}}
      {{> catalog/pop/facet-select}}
    {{/if}}

    {{#if sliderRangeFacet}}
      {{> catalog/pop/facet-slider-range}}
    {{/if}}

  {{/if}}
{{/each}}