<label for="filter-{{facet.key}}-{{option.value}}">
  <input id="filter-{{facet.key}}-{{option.value}}"
         type="{{#if facet.multiSelect}}checkbox{{else}}radio{{/if}}"
         name="{{facet.key}}"
         value="{{option.value}}"
         {{#if selected}}checked{{/if}} />
  {{option.label}} {{#unless facet.countHidden}}<span class="facet-count">({{option.count}})</span>{{/unless}}
</label>
