<div class="search-result">
  <div class="search-results-title">{{i18n "catalog:searchResult.title"}}</div>
  <div class="search-result">{{searchResult.keyword}}</div>
  <hr class="search-result-hr">
</div>
<div class="search-result-details">
  <span class="search-result-details-data">{{searchResult.resultsPerPage}}</span>
  <span class="search-result-details-text">{{i18n "catalog:searchResult.of"}}</span>
  <span class="search-result-details-data">{{searchResult.resultsTotal}}</span>
  <span class="search-result-details-text">{{i18n "catalog:searchResult.searchResultsFor"}}</span>
  <span class="search-result-details-data">{{searchResult.keyword}}</span>
</div>
{{> common/messages}}
